@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// Variables 
$green-text: hsl(163, 72%, 41%);
$red-text: hsl(356, 69%, 56%);
$attribution: hsl(230, 20%, 60%);
$attribution-link: hsl(228, 45%, 44%);

//Social Color
$facebook-border-color: hsl(208, 92%, 53%);
$twitter-border-color: hsl(203, 89%, 53%);
$instagram-border-color: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$youtube-border-color: hsl(348, 97%, 39%);

$dk-theme-toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
$lt-theme-toggle: hsl(230, 22%, 74%);

//Light Theme-- Default 
$color-primary-lt-bg: hsl(0, 0%, 100%);
$color-top-lt-bg: hsl(225, 100%, 98%);
$color-card-lt-bg: hsl(227, 47%, 96%);
$color-text-lt-primary: hsl(228, 12%, 44%);
$color-text-lt-secondary: hsl(230, 17%, 14%);
$color-lt-hover: hsl(231, 53%, 90%);

//Dark Theme
$color-primary-dk-bg: hsl(230, 17%, 14%);
$color-top-dk-bg: hsl(232, 19%, 15%);
$color-card-dk-bg: hsl(228, 28%, 20%);
$color-text-dk-primary: hsl(228, 34%, 66%);
$color-text-dk-secondary: hsl(0, 0%, 100%);
$color-dk-hover: hsl(229, 20%, 60%);


* {
    box-sizing: border-box;
    outline: 1px solid black;
    transition: all 0.3s ease-in-out;
}

html {
    font-size: 125%;
    font-weight: 400;
    line-height: 1.4;
    font-family: "Inter", sans-serif;

}

body {
    margin: 0;
    background: $color-primary-lt-bg;
    color: $color-text-lt-secondary;
    min-height: 100vh;
    padding: 2rem; 
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 28vh;
    width: 100vw;
    z-index: -1;
    background-color: $color-top-lt-bg;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 82.5%;
    margin: 30px auto;
}

.up-icon {
    height: 4px;
    margin-top: 5px;
    margin-right: 4px;
}

.down-icon {
    height: 4px;
    margin-top: 5px;
    margin-right: 4px;
}

.green-text {
    color: $green-text;
    font-size: 1em;
    font-weight: 700;
}

.red-text {
    color: $red-text;
    font-size: 1em;
    font-weight: 700;
}

.social-icons {
    margin-right: 25px;
}

.user__text {
    color: $color-text-lt-primary;
    font-size: 0.85em;
    font-weight: 700;
}

// Header Style
header {
    padding-top: 10px;
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2em;
    }
    .dashboard__title {
        font-size: 1.5em;
        font-weight: 700;
        color: $color-text-lt-secondary;
    }
    .followers,
    .theme {
        font-size: 0.7em;
        font-weight: 700;
        color: $color-text-lt-primary;
        margin-top: 10px;
    }
    .toggle-wrapper {
        display: flex;
        align-items: center;
    }
    .theme-toggle {
        position: relative;
        display: inline-block;
        height: 1.2em;
        width: 3em;  
    }
    .theme-toggle input {
        display: none;
    }
    .toggle-button {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: hsl(230, 22%, 74%);
    }
    .toggle-button:before {
        position: absolute;
        content:"";
        height: 0.9em;
        width: 0.9em;
        left: 0.2em;
        bottom: 0.15em;
        margin: auto 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        box-shadow: 0 0px 15px hsl(230, 22%, 74%);
        background-color: white;
    }
    input:checked + .toggle-button {
        background-image: linear-gradient(to right, hsl(210, 78%, 56%) to hsl(146, 68%, 55%));
    }
    input:focus + .toggle-button {
        box-shadow: 0 0 1px hsl(210, 78%, 56%);
    }
    input:checked + .toggle-button:before {
        -webkit-transform: translateX(24px);
        -ms-transform: translateX(26px);
        transform: translateX(24px);
        background-color: white;
    }
    .round {
        border-radius: 34px;
    }
    .round:before {
        border-radius: 50%;
    }
    .theme-label {
        font-size: 0.7em;
        font-weight: 700;
        color: $color-text-lt-primary;
        margin-right: 1em;
    }

}

//First Dashboard Row
.first__dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 1.2em;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 3em;

    .social__card {
        background-color: $color-card-lt-bg;
        border-top-style: solid;
        border-top-width: 4px;
        text-align: center;
        border-radius: 5px;
        height: 245px;
    }
    .social__card:hover {
        background-color: $color-lt-hover;
    }
    .facebook-card {
        border-top-color: $facebook-border-color;
    }
    .twitter-card {
        border-top-color: $twitter-border-color;
    }
    .youtube-card {
        border-top-color: $youtube-border-color;
    }
    .instagram-card {
        border-top: 0.25em solid transparent;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: linear-gradient(to right, hsl(227, 47%, 96%), hsl(227, 47%, 96%)),
        linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
        background-clip: padding-box,
        border-box;
        background-origin: padding-box,
        border-box;
    }
    .instagram-card:hover {
        border-top: 0.25em solid transparent;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: linear-gradient(hsl(231, 53%, 90%),
                hsl(231, 53%, 90%)),
            linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
        background-clip: padding-box,
            border-box;
        background-origin: padding-box,
            border-box;
    }
    .card__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .card__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
        margin-bottom: 0;
    }
    .card__count {
        margin-top: 25px;
        margin-bottom: 0;
        font-size: 3em;
        font-weight:900;
        color: $color-text-lt-secondary;
    }
    .card__description {
        color: $color-text-lt-primary;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 5px;
    }  
}

// Second Dashboard Row
.overview__title {
    font-size: 1.3em;
    color: $color-text-lt-primary;
    font-weight: 700;
}
.second__dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 1.2em;
    padding-top: 1em;

    .overview__card {
        background-color: $color-card-lt-bg;
        display: grid;
        grid-template-columns: auto auto;
        padding: 1em;
        align-items: center;
        border-radius: 5px;
    }
    .overview__card:hover {
        background-color: $color-lt-hover;
    }
    .overview-icon,
    .social-stats {
        justify-self: end;
    }
    .overview__card p:nth-of-type(1) {
        font-size: 0.7em;
        color: $color-text-lt-primary;
        font-weight: 700;
    }
    .overview__card p:nth-of-type(2) {
        font-size: 1.5em;
        color: $color-text-lt-secondary;
        font-weight: 700;
        padding-top: 1em;
    }
    .social-stats {
        padding-top: 2.1em;
    }
    
    .social-stats span {
        padding-left: 0.3em;
        font-size: 0.6em;
        font-weight: 700;
    }
   
}


// Attribution
.attribution {
    font-size: 1em;
    text-align: center;
    margin: auto;
    color: $attribution;
    opacity: 80%;
}

.attribution a {
    color: $attribution-link;
}