.card {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--card-bg);
    width: 87%;
    height: 235px;
    max-width: 20.5rem;
    margin: auto;
    padding: 1.5em 0;
    margin-bottom: 1.7em;
    border-top-style: solid;
    border-top-width: 4px;
    border-radius: 5px;
    transition: background-color 300ms ease-out;
    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &::before {
        position: relative;
        top: 0.33rem;
        left: -0.4rem;
        margin-left: 0.4rem;
    }
    &__description {
        margin: 0.5em 0;
    }
    &__stats {
        position: relative;
        margin-top: 0.5rem;
    }
}

.social-icon {
    margin-right: 1em;
}
.up-icon {
    position: relative;
    top: -0.2rem;
    left: -0.333rem;
    margin-left: 0.3rem;
}

.down-icon {
    position: relative;
    top: -0.2rem;
    left: -0.333rem;
    margin-left: 0.3rem;
}

.facebook-card {
    border-top-color: var(--facebook-border);
}

.twitter-card {
    border-top-color: var(--twitter-border);
}

.youtube-card {
    border-top-color: var(--youtube-border);
}

.instagram-card {
    border-top: 0.25em solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: 
        linear-gradient(to right, hsl(227, 47%, 96%), hsl(227, 47%, 96%)),
        linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    background-clip: padding-box,
    border-box;
    background-origin: padding-box,
    border-box;
}
.instagram-card:hover {
    border-top: 0.25em solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(hsl(231, 53%, 90%),
        hsl(231, 53%, 90%)),
    linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    background-clip: padding-box,
    border-box;
    background-origin: padding-box,
    border-box;
}


.card:hover,
.overview__card:hover {
    background-color: var(--hover);
}

