.card {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--card-bg);
    width: 87%;
    height: 350px;
    max-width: 20.5rem;
    margin: auto;
    padding: 1.5em 0;
    margin-bottom: 1.7em;
    /*border-top-style: solid;*/
    border-top-width: 4px;
    border-radius: 5px;
    transition: background-color 300ms ease-out;
    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &::before {
        position: relative;
        top: 0.33rem;
        left: -0.4rem;
        margin-left: 0.4rem;
    }
    &__description {
        margin: 0.5em 0;
    }
    &__stats {
        position: relative;
        margin-top: 0.5rem;
    }
}

.up-icon {
    position: relative;
    top: -0.2rem;
    left: -0.333rem;
    margin-left: 0.3rem;
}

.down-icon {
    position: relative;
    top: -0.2rem;
    left: -0.333rem;
    margin-left: 0.3rem;
}

.facebook-card::after,
.twitter-card::after,
.instagram-card::after,
.youtube-card::after {
    position: absolute;
    top: -4px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: "";
    z-index: -1;
    border-radius: 0.333em;
}

.facebook-card::after {
    background: var(--facebook-border);
}

.twitter-card::after {
    background: var(--twitter-border);
}

.instagram-card::after {
    background: linear-gradient(to top right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.youtube-card::after {
    background: var(--youtube-border);
}

.card:hover,
.overview__card:hover {
    background-color: var(--hover);
}

.overview__card {
  position: relative;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto auto;
  padding: 1.5em;
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 5px;
  background-color: var(--card-bg);  
  transition: ease-in-out 0.2s;
}

.overview__followers {
    padding-top: 1em;
}

.overview-icon,
.social-stats {
    justify-self: end;
}

.social-stats {
    padding-top: 2.1em;
}

.social-stats span {
    padding-left: 0.3em;
}

@include screen-m {
    .card {
        width: 100%;
        max-width: 16rem;
        margin: 0;
    }
    .overview__card {
        width: 100%;
        max-width: 16rem;
        margin: 0;
    }
    
}


